.pokemon-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 20px;
  position: relative;
  width: 80%;
  height: auto;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}


.btn_move {
  background-color: transparent;
  border-radius: 20px;
  padding: 5px 10px;
  color: #444;
  font-weight: bold;
  font-size: 14px;
  transition: transform 0.2s, background-color 0.2s;
}

.btn_move:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.pokemon-details button:active,
.btn_move:active {
  transform: scale(0.95);
}

.pokemon-details button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  color: #888;
}

.pokemon-details h2 {
  font-size: 32px; 
  font-weight: bold;
  color: #333;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.pokemon-details img {
  width: 200px; 
  height: 200px; 
  margin-bottom: 20px;
}

.pokemon-details p {
  font-size: 18px; 
  color: #444;
  margin-bottom: 10px;
}

.pokemon-details b {
  font-weight: bold;
  color: #333;
}

.btn_move {
  margin-top: 20px;
}

.movesetlist {
  text-transform: capitalize;
}

.details-grid {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.details-grid p {
  margin: 0;
}