:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon-details {
  align-self: center;
  width: 100%; /* or your desired width */
  height: 1000px; /* or your desired height */
  padding: 10px;
  background-color: #c6ccc3;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0;
  font-size: 24px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


.pokemon-details button {
  position: absolute;
  top: 0;
  right: 0;
  color:black;
}
