.head {
    text-align: center; 
    
}

.fancy-button {
    position: absolute;
    background-color: #009505; 
    border: none; 
    color: white; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px 24px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 12px; 
    transition-duration: 0.4s;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }
  
  .fancy-button:hover {
    background-color: #0f9c13; 
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); 
  }